<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<th:block th:replace="partials/header :: header"></th:block>
<body>
<nav th:replace="partials/navbar :: bootStrap_nav" ></nav>
<div class="container">
    <form th:action="@{/posts/create}" method="post" th:object="${post}">
        <h5>Create a post by filling out the forms below:</h5>
        <br>
        <label for="createTitle">Title:</label>
        <input id="createTitle" type="text" th:field="*{title}">
        <br>
        <label for="createBody">Body:</label>
        <input id="createBody" type="text" th:field="*{body}">
        <br>
<!--        <label for="imageURL">Image URL:</label>-->
<!--        <input id="imageURL" type="text" name="imageURL">-->
<!--        <label for="imageDescription">Image Description:</label>-->
<!--        <input id="imageDescription" type="text">-->

        <input type="submit">
    </form>
</div>



<footer th:replace="partials/footer :: bootStrap_footer" ></footer>
</body>
</html>