<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Index Page</title>-->
<!--    <th:block th:replace="partials/navbar :: bootStrap_styling_sheet" ></th:block>-->
<!--    <th:block th:replace="partials/footer :: bootStrap_styling_sheet" ></th:block>-->
<!--</head>-->
<th:block th:replace="partials/header :: header"></th:block>
<body>
<nav th:replace="partials/navbar :: bootStrap_nav" ></nav>

<h5>Edit or add an image:</h5>
<form th:action="@{/posts/edit/{id}(id=${post.id})}" method="post">
    <label for="title">Title:</label>
    <input id="title" type="text" name="title" th:value="${post.title}">
    <br>
    <label for="body">Body:</label>
    <input id="body" type="text" name="body" th:value="${post.body}">
    <br>
    <label for="imageURL">Image URL:</label>
    <input id="imageURL" type="text" name="imageURL">
    <br>
    <label for="imageDescription">Image Description:</label>
    <input id="imageDescription" type="text" name="imageDescription">
    <br>
    <button type="submit">Submit</button>
</form>


<footer th:replace="partials/footer :: bootStrap_footer" ></footer>
</body>
</html>